@tailwind base;
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #161d2f;
}

@media screen and (min-width: 768px) {
    .main-logo {
        width: 32px;
        height: 25px;
    }
}

@media screen and (min-width: 1440px) {
    .parent {
        display: grid;
        grid-template-columns: minmax(96px, 100px) 1fr;
    }
}

.swiper {
    width: 100vw;
    height: 100%;
    cursor: pointer;
}

.swiper-slide {
    text-align: center;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}
